@page "/test"
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Test Page</title>
</head>
<body>
    <h1>TEST PAGE WORKING</h1>
    <p>If you can see this, ASP.NET routing is working.</p>
    <p>Current time: @DateTime.Now</p>
</body>
</html>